h1{
    color: aquamarine;
    font-size: 100px;
}
h2{
    color: aquamarine;
}
body{
    background-color: blue;
}
.heading1{
    font-size: 26px;
    font-weight: 900;
    color: beige;
}
#lol{
    background-color: black;
}